@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Change the Subi Connect primary colour */
    --sc-primary: 22.2 47.4% 11.2%;
    --sc-primary-foreground: 21 40% 98%;
  }

  .dark {
    --sc-primary: 210 40% 98%;
    --sc-primary-foreground: 222.2 47.4% 11.2%;
  }
}

@layer base {
  /* Change the default font */
  body {
    @apply bg-background text-foreground;
    .sc-font-mainMedium,
    .sc-font {
      @apply font-mono;
    }
  }
}
