@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #custom-styles {
    /* Change the Subi Connect colours */
    & {
      --sc-primary: 2.2 47.4% 11.2%;
      --sc-primary-foreground: 21 40% 98%;

      /* Secondary Colours (Orange) */
      --sc-secondary: 33 100% 50%;
      --sc-secondary-foreground: 21 40% 98%;
    }

    .dark {
      --sc-primary: 210 40% 98%;
      --sc-primary-foreground: 222.2 47.4% 11.2%;
    }

    /* Change the default font */
    .sc-font-mainMedium,
    .sc-font {
      @apply font-mono;
    }
  }
}
